<div
  dir="ltr"
  style="max-width:8.5in;margin-top:1.3783in; margin-bottom:1in; margin-left:0.7874in; margin-right:0.7874in; "
>

  <p class="P7">{{ momentDateFormat currentDate "DD MMM YYYY" }}<span class="T1" /></p>

  <p class="Standard"><span class="T2">First I. Last</span><span class="T1"><br /></span><span
      class="T2"
    >Address</span><span class="T1"><br /></span><span class="T2">City, Province</span><span
      class="T1"
    ><br /></span><span class="T2">Country, Postal Code</span></p>

  <p class="Standard"><span class="T1">Dear </span><span class="T2">First</span><span
      class="T1"
    >:</span></p>

  <p class="P1"><span class="T3">I am pleased to inform you that your Yukon Grant application to
      attend full-time post-secondary has been approved as follows:</span></p>

  <p class="P2"><span class="T5">Program: </span><span class="T6">xxxxxxxxxxxxx</span><span
      class="T3"
    >                                                        </span><span class="T5">Start Date:</span><span
      class="T3"
    >
    </span><span class="T4">Mmm dd, yyyy</span></p>

  <p class="P2"><span class="T5">Institution:</span><span class="T3"> </span><span
      class="T6"
    >xxxxxxxxxxxxx</span><span class="T3">                                                       
    </span><span class="T5">End Date:  </span><span class="T3"> </span><span class="T4">Mmm dd, yyyy</span></p>

  <p class="P2"><span class="T5">Rate per Week:</span><span class="T3">                </span><span
      class="T4"
    >$xxx.xx</span></p>

  <p class="P2"><span class="T5">Approv. Weeks:</span><span class="T3">        </span><span
      class="T4"
    >xx</span></p>

  <p class="P1"><span class="T5">Travel/Airfare:</span><span class="T3">                </span><span
      class="T4"
    >$xxxx.xx</span></p>
  <p class="P3">Disbursements<span> Issue Date – Based on confirmed enrollment before each semester</span>

  </p>
  <p class="P2"><span class="T4">$xxxx.xx</span><span class="T3">                </span><span
      class="T4"
    >Mmm yyyy</span></p>

  <p class="P1"><span class="T4">$xxxx.xx</span><span class="T3">                </span><span
      class="T4"
    >Mmm yyyy</span></p>
  <p class="P5"> </p>
  <p class="P1"><span class="T3">If any of the above information is incorrect or you withdraw from
      full-time studies or drop to part-time status, you may have to repay some or all of your Yukon
      Grant.</span></p>

  <p class="P1"><span class="T3">Your first disbursement has been processed. </span><span
      class="T5"
    >If more than one payment is listed above, you will be required to submit a Program Information
      Form (PIF) confirming full-time status prior to the release of any subsequent disbursements.</span><span
      class="T3"
    > Our office will accept PIFs completed by the institution and submitted directly to </span><a
      href="mailto:sfa@yukon.ca"
      class="Internet_20_link"
    ><span class="Internet_20_link"><span class="T3">sfa@yukon.ca</span></span></a><span class="T3">
      as early as one month before the issue date(s) outlined above. You can download the PIF at
      http://yukon.ca/en/program-information-student-financial-assistance.</span></p>

  <p class="P4">If you have any questions regarding your assessment, please contact our office by
    email at sfa@yukon.ca, by telephone at 867-667-5929, or toll free within Yukon at 1-800-661-0408
    ext. 5929.
    <span class="T3" /></p>

  <p class="P1"><span class="T3">Congratulations on your decision to further your education. On
      behalf of the Department of Education, I wish you the very best in your studies.  </span></p>

  <p class="P4">Sincerely,<span class="T3" /></p>
  <p class="P6"> </p>
  <p class="P8"><span class="T2">SFAOFirst SFAOLast</span><span class="T1"><br />Student Financial
      Services Officer<br />Student Funding Programs
    </span></p>
</div>
