<div>
    <h1>{{ title }}</h1>
    <p>
        <em>This is not a production grade template, just a placeholder.</em>
    </p>
    <p>
        {{ student.person.first_name }} {{ student.person.last_name }} your application has been approved.
    </p>

</div>
